*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #222;
    color: #fff;
    font-family: system-ui;
}

.crud{
    width: 80%;
    margin: auto;
}

.header{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}

input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: #111;
    color: #fff;
    margin: 4px 0;
    border-radius: 10px;
    padding: 5px;
    transition: .3s ease;
}

input:focus{
    background: #7fc9c9;
    transform: scale(1.03);
}

.price input{
    width: 20%;
}

#total{
    background: #a00d02;
    padding: 5px 3px;
    border-radius: 4px;
}

#total::before{
    content: 'Total: ';
}

#deletAll{
    margin: 20px 0;
}
#deletAll button:hover{
    background: red;
}
tr td #delet:hover{
    background: red;
}

button{
    width: 100%;
    height: 35px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background: #29677b;
    color: #fff;
    letter-spacing: .5px;
    font-size: 17px;
    font-weight: bold;
    margin-top: 7px;
    transition: .4s ease;
}

button:hover{
    background: #1ccbd7;
    letter-spacing: 1.5px;
}

.btn-search{
    display: flex;
    justify-content: space-between;
}

.btn-search button{
    width: 45%;
}

table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

th,td{
    padding: 5px;
}